<h3>Signup Here</h3>
<%= render 'shared/error_messages' %>
<%= form_for(@user) do |f| %>
	 <%= f.label :username, "Username" %>
		<%= f.text_field :username %>

		<%= f.label :email, "Email" %>
		<%= f.email_field :email %>

		<%= f.label :password_digest, "Password" %>
		<%= f.password_field :password_digest %>

		<%= f.label :password_confirmation, "Confirm Password" %>
		<%= f.password_field :password_confirmation %>
		
		<%= f.submit "Signup", class: "btn btn-primary" %>
<% end %>