<div class="row">
	<h3>Signup Here</h3>
	<%= render 'shared/error_messages' %>
	<%= form_for(@user) do |f| %>
		 <%= f.label :username, "Username" %>
			<%= f.text_field :username, placeholder: "Choose username"%>

			<%= f.label :email, "Email" %>
			<%= f.email_field :email, placeholder: "Email..." %>

			<%= f.label :password, "Password" %>
			<%= f.password_field :password, placeholder: "Choose password" %>

			<%= f.label :password_confirmation, "Confirm Password" %>
			<%= f.password_field :password_confirmation, placeholder: "Confirm password" %>

			<%= f.submit "Signup", class: "btn btn-primary", title: "Signup" %>
	<% end %>
</div>